@import "tailwindcss";

:root {
  --font-size: 1rem;
  --font-family: system-ui, sans-serif;
  --background-color: #121212;
  --color: #ffffff;
  --blue: #0037c1;
  --dark-blue: #002da1;
  --gray: #9ca3af;
  --yellow: #eab308;
}

/* Box Sizing Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set Default Font and Background */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
}
